     # Environment variables
     .env
     */.env
     */*/app.functions/.env
     
     # Dependencies
     node_modules/
     */node_modules/
     */*/node_modules/
     
     # Build files
     dist/
     build/
     
     # Logs
     *.log
     npm-debug.log*
     
     # OS specific files
     .DS_Store
     Thumbs.db